@page "/callcontract"
<EditForm class="query-page call-contract-page" Model="@_input" OnValidSubmit="HandleValidSubmit">
    <h2>Call Contract</h2>
    <DataAnnotationsValidator />
    <section class="entry-form">
        <label for="gateway">Gateway Node</label>
        <InputGateway id="gateway" @bind-Value="@_input.Gateway" />
        <label for="payer">Payer</label>
        <InputAddress id="payer" @bind-Value="@_input.Payer" placeholder="Payer (shrd.rlm.num)" />
        <label for="memo">Transaction Memo</label>
        <InputText id="memo" @bind-Value="@_input.Memo" placeholder="Transaction Memo (optional)" />
        <label for="contract">Contract</label>
        <InputAddress id="contract" @bind-Value="@_input.Contract" placeholder="Contract (shrd.rlm.num)" />
        <label for="payable">Payable Amount (Xfer from Payer, tℏ)</label>
        <InputNumber id="payable" @bind-Value="@_input.Amount" placeholder="Payable Aount (tℏ)" />
        <label for="maxgas">Max Gas (Xfer from Payer, tℏ)</label>
        <InputNumber id="maxgas" @bind-Value="@_input.Gas" placeholder="Max. Allowed Gas (tℏ)" />
        <label for="functionname">Function Name</label>
        <InputText id="functionname" @bind-Value="@_input.FunctionName" Placeholder="Function Name" />
        <label for="arguments">Arguments</label>
        <InputArguments id="arguments" @bind-Value="@_input.Arguments" />
        <p class="note"><b>NOTE:</b> Calling a contract and retrieving the results requires two transactions.  If you do not wish to retrieve the results returned from the contract, you may cancel the second transaction signing request.</p>
        <button type="submit">Call Contract</button>
    </section>
    <Network @ref="_network">
        @if (_output != null)
        {
            var result = _output.CallResult;
            @if (!string.IsNullOrWhiteSpace(result.Error))
            {
                <div>Error</div>
                <div>@result.Error</div>
            }
            <div>Result</div>
            <BinaryDisplay Data="@result.Result.Data" />
            <div>Bloom</div>
            <BinaryDisplay Data="@result.Bloom" />
            <div>Gas</div>
            <BalanceDisplay Balance="@result.Gas" />
            @if (result.CreatedContracts.Length > 0)
            {
                <div>Created Contracts</div>
                <div>
                    @foreach (var contract in result.CreatedContracts)
                    {
                        <div><AddressDisplay Address="@contract" /></div>
                    }
                </div>
            }
            if (result.Events.Length > 0)
            {
                <h4>Events</h4>
                @foreach (var evt in result.Events)
                {
                    <div>Emitting Contract</div>
                    <AddressDisplay Address="@evt.Contract" />
                    <div>Bloom</div>
                    <div><HashDisplay Hash="@evt.Bloom" /></div>
                    @if (evt.Topic.Length > 0)
                    {
                        <div>Topics</div>
                        <div>
                            @foreach (var topic in evt.Topic)
                            {
                                <div><HashDisplay Hash="topic" /></div>
                            }
                        </div>
                    }
                    <div>Result</div>
                    <BinaryDisplay Data="@result.Result.Data" />
                }
            }
            <h4>Record</h4>
            <RecordDisplay Record="@_output" />
        }
        else
        {
            <div>Waiting for Input</div>
        }
    </Network>
</EditForm>
