@page "/deletetoken"
<EditForm class="query-page delete-topic-page" Model="@_input" OnValidSubmit="HandleValidSubmit">
    <h2>Delete Token</h2>
    <DataAnnotationsValidator />
    <section class="entry-form">
        <label for="gateway">Gateway Node</label>
        <InputGateway id="gateway" @bind-Value="@_input.Gateway" />
        <label for="payer">Payer</label>
        <InputAddress id="payer" @bind-Value="@_input.Payer" placeholder="(shrd.rlm.num)" />
        <label for="memo">Memo</label>
        <InputText id="memo" @bind-Value="@_input.Memo" placeholder="Transaction Memo (optional)" />
        <label for="deletetoken">Topic to Delete</label>
        <InputAddress id="deletetoken" @bind-Value="@_input.Token" placeholder="(shrd.rlm.num)" />
        <button type="submit">Delete Token</button>
    </section>
    <Network @ref="_network">
        @if (_output != null)
        {
            <div>Accepted, Status:</div>
            <div>@_output.Status</div>
        }
        else
        {
            <div>Waiting for Input</div>
        }
    </Network>
</EditForm>
