@page "/topicinfo"
<EditForm class="query-page get-topic-info" Model="@_input" OnValidSubmit="HandleValidSubmit">
    <h2>Get Consensus Topic Info</h2>
    <DataAnnotationsValidator />
    <section class="entry-form">
        <label for="gateway">Gateway Node</label>
        <InputGateway id="gateway" @bind-Value="@_input.Gateway" />
        <label for="payer">Payer</label>
        <InputAddress id="payer" @bind-Value="@_input.Payer" placeholder="Payer (shrd.rlm.num)" />
        <label for="memo">Payment Memo</label>
        <InputText id="memo" @bind-Value="@_input.Memo" placeholder="Query Payment Memo (optional)" />
        <label for="topic">Topic Number</label>
        <InputAddress id="topic" @bind-Value="@_input.Topic" placeholder="Topic (shrd.rlm.num)" />
        <button type="submit">Get Topic Info</button>
    </section>
    <Network @ref="_network">
        @if (_output != null)
        {
            <div>Topic Address</div>
            <AddressDisplay Address="@_input.Topic" />
            <div>Description</div>
            <div>@_output.Memo</div>
            <div>Sequence Number</div>
            <div>@_output.SequenceNumber</div>
            <div>Running Hash</div>
            <HashDisplay Hash="@_output.RunningHash" />
            <div>Expiration</div>
            <div>@_output.Expiration</div>
            <div>Renewal Account</div>
            @if (_output.RenewAccount == null)
            {
                <div>None</div>
            }
            else
            {
                <AddressDisplay Address="@_output.RenewAccount" />
            }
            <div>Auto-Renewal Period</div>
            <TimespanDisplay TimeSpan="@_output.AutoRenewPeriod" />
            <div>Administrator</div>
            <EndorsementDisplay Endorsement="_output.Administrator" />
            <div>Participant</div>
            <EndorsementDisplay Endorsement="_output.Participant" />
        }
        else
        {
            <div>Waiting for Input</div>
        }
    </Network>
</EditForm>
