@if (Value != null)
{
    var unitWithParen = string.IsNullOrWhiteSpace(Unit) ? "" : $"({Unit})";
    var unitWithoutParen = string.IsNullOrWhiteSpace(Unit) ? "" : Unit;
    if (_simpleMode)
    {
        var fromEntry = Value.From[0];
        var toEntry = Value.To[0];
        <label for="fromaccount">From Address</label>
        <InputAddress id="fromaccount" @bind-Value="@fromEntry.Address" placeholder="(shrd.rlm.num)" />
        <label for="toaccount">To Address</label>
        <InputAddress id="toaccount" @bind-Value="@toEntry.Address" placeholder="(shrd.rlm.num)" />
        <label for="transferamount">Amount @unitWithParen</label>
        <InputNumber id="transferamount" @bind-Value="@fromEntry.Amount" placeholder="@($"Transfer Amount {unitWithParen}")" />
        <a class="toggle-simple-mode" @onclick="ToggleSimpleMode">Transfer to Multiple Accounts</a>
    }
    else
    {
        long sumFrom = 0;
        long sumTo = 0;
        bool showDeleteFrom = Value.From.Count > 1;
        bool showDeleteTo = Value.To.Count > 1;
        <section class="multi-transfer @_otherCssClasses @_fieldCssClasses">
            <div class="transfers-from">
                <div><b>From</b> Address</div>
                <div>Amount</div>
                <span></span>
                @foreach (var item in Value.From)
                {
                    sumFrom += item.Amount;
                    <InputAddress @bind-Value="@item.Address" placeholder="(shrd.rlm.num)" />
                    <InputNumber @bind-Value="@item.Amount" placeholder="@unitWithParen" />
                    if (showDeleteFrom)
                    {
                        <button type="button" class="delete-row" @onclick="()=>RemoveFromRow(item)"></button>
                    }
                }
                <a class="add-row" @onclick="AddFromRow">Add Sender</a>
                <div class="totals">
                    <div>Total</div>
                    <div>@sumFrom.ToString("#,##0") @unitWithoutParen</div>
                </div>
            </div>
            <div class="transfers-to">
                <div><b>To</b> Address</div>
                <div>Amount</div>
                <span></span>
                @foreach (var item in Value.To)
                {
                    sumTo += item.Amount;
                    <InputAddress @bind-Value="@item.Address" placeholder="(shrd.rlm.num)" />
                    <InputNumber @bind-Value="@item.Amount" placeholder="@unitWithParen" />
                    if (showDeleteTo)
                    {
                        <button type="button" class="delete-row" @onclick="()=>RemoveToRow(item)"></button>
                    }
                }
                <a class="add-row" @onclick="AddToRow">Add Recipient</a>
                <div class="totals">
                    <div>Total</div>
                    <div>@sumTo.ToString("#,##0") @unitWithoutParen</div>
                </div>
            </div>
            <a class="toggle-simple-mode" @onclick="ToggleSimpleMode">Change to Simple Transfer</a>
        </section>
    }
}
